.Login {
  width: 50%;
  left: 50;
  position: relative;
  left: 30vw;
  top: 10vh;
  box-shadow: 8px 8px -4px lightblue;
}

.login-button {
  margin-top: 5vh;
}

.loginSection {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  max-width: 420px;
  justify-content: center;
  padding: 1rem;
  position: relative;
  align-items: center;
  vertical-align: centre;
  margin-top: 10vh;
}

.loginSection form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem !important;
}

button {
  padding: 0.5rem;
  margin-top: 1rem !important;
}

label {
  display: inline-block;
  text-align: left;
}
.main-container {
  display: flex;
  justify-content: center;
}
